/******************************************************************************
Name: Siebren Kazemier
School: Uva
Student number: 12516597
Project: Assignment week 6, Creating a linked views
******************************************************************************/
.node {
		cursor: pointer;
}

.index {
    /* center contents */
    text-align: center;
    padding-top: 70px;
    background-image: url("background5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 5%;
}

.grafieken {
    background-color: #7DC2AF;
}

.data {
	background-color: #7DC2AF;
}

/* for smaller screans rememove padding top */
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}
/* ################################# navbar ################################# */
nav {
    background-color: none;
}

nav .navbar-brand {
    color: #537fbe;
}
/* ################################# text ################################# */
.welcome {
    color: #D3D3D3;
    font-family: "Comic Sans MS";
    font-size: 22px;
    text-align: left;
    position: absolute;
    top:20%;
    left:7%;
}

svg {
    display: block;
    margin: 0 auto;
}

h4 {
	color: white;
}

/* ################################# axis barchart########################### */
.xAxis line{
  stroke: white;
}

.xAxis path{
  stroke: white;
}

.xAxis text{
  fill: white;
}
.yAxis line{
  stroke: white;
}

.yAxis path{
  stroke: white;
}

.yAxis text{
  fill: white;
}
.label {
	fill: white;
	font-size: 0.8em;
}

.cijfer {
	fill: white;
}
.school {
	fill: white;
}
.persentage {
	fill: white;
}

/* ################################# container ########################### */
#container-padding {
	height: 50px;
}

#graph1 {
	width: 50vw;
	height: 140vh;
}

#graph2 {
	width: 45vw;
	height: 150vh;
}

#graph4 {
	width: 100vw;
	height: 100vh;
}

.containerGraph3 {
	width: 45vw;
	height: 70vh;
}
.containerGraph2 {
	width: 45vw;
	height: 70vh;
}
/* ################################# buttons ########################### */
.btn-secondary {
    background-color: #41B3A3;
	border-color: #41B3A3;
}
.btn-info {
	background-color: #41B3A3;
	border-color: #41B3A3;
}

.active {
    background-color: #85DCB2 !important;
	border-color: #85DCB2 !important;
}
